@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
}

@layer components {
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: 'Roboto Mono', monospace;
   }

   /* top header style */
   .top-header {
   }

   /* news letter style */
   .newsletter-section {
      position: relative;
      background: url(./images/main_img/outer_fit.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
   }
   .newsletter-section .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
   }
}
